:root {
  --color-pre-bg: #f9f9f9;
  --width-content: min(75ch, 100%);
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: var(--width-content);
  padding: 0.5em 1em;
}
main { hyphens: auto; }

.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 0.2em;
  border-radius: 0.3em;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

pre {
  padding: 0.9em;
  overflow-x: auto;
  background: var(--color-pre-bg);
}
code {
  font-family: monospace;
  background: var(--color-pre-bg);
}

img, iframe, video { max-width: 100%; max-height: 75ex; display: block; margin: auto; }
